/* SEGUNDA SESSÃO */

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #222 50%, var(--azul-escuro));
}
.sobre__titulo {
    font-size: 50px;
}
.sobre img {
    width: 50%;
    box-shadow: 0px 0px 50px black;
    margin: 50px 0;
    border-radius: 50%;
}
.sobre__texto {
    width: 80%;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
}
.sobre__texto p {
    text-align: justify;
    text-indent: 20px;
}
.sobre__tecnologias {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sobre__tecnologias .container {
    display: flex;
}
.tecnologias {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tecnologias:hover {
    transition: 0.2s;
    transform: scale(1.2);
}
.tecnologias i {
    font-size: 50px;
    color: var(--azul-escuro);
}
.tecnologias p {
    margin-top: 0.5em;
    color: var(--azul-escuro);
    font-size: 12px;
    font-weight: bold;
}
.sobre__tecnologias-informacoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .sobre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 200px 200px;
        grid-template-areas: 
            "imagem texto"
            "utilizadas informacoes"
            "aprender informacoes"
        ;
        background-image: linear-gradient(to top, #222 50%, var(--azul-escuro));
    }
    .sobre img {
        width: 60%;
        height: 80%;
        box-shadow: 0px 0px 50px rgb(95, 63, 63);
        /* margin: 50px 50%; */
        justify-self: center;
        align-self: center;
        border-radius: 20px;
        grid-area: imagem;
    }
    .sobre__texto {
        height: 90%;
        justify-self: center;
        align-self: center;
        grid-area: texto;
    }
    .sobre__tecnologias {
        height: 100%;
    }
    .utilizadas {
        grid-area: utilizadas;
    } 
    .aprender {
        grid-area: aprender;
    }
    .sobre__tecnologias-informacoes {
        display: block;
        width: 80%;
        height: 95%;
        border: solid var(--azul-escuro);
        border-radius: 10px;
        margin-left: 10%;
        grid-area: informacoes;

        position: relative;
        z-index: 0;
        text-align: center;
    }
    .tecnologias-informacoes {
        background-color: #222;
        position: absolute;
        /* padding: 20px 2em; */
    }
    .aparecer {
        animation: aparecer 1s linear;
    }
    @keyframes aparecer {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
    .tecnologias-informacoes h2, p {
        width: 90%;
        margin: 5px auto;
    }
    #css, #js {
        display: none;
    }
    .tecnologias-informacoes img {
        width: 100px;
        height: 100px;
        box-shadow: none;
        margin: 1em 0;
    }
}